body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0;
  min-height: 50%;
}

.goals-inner-container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравнивание по левому краю */
  justify-content: center; /* Центрирование по вертикали */
  height: 100%; /* Занимает всю высоту родительского элемента */
}

.goals-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.hero-section {
  position: relative;
  color: #fff;
  padding: 5rem 2rem;
  text-align: left;
  overflow: hidden;
  min-height: 80vh;
  margin-top:50px;
}

.hero-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/goalsPage/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(45deg);
  transform-origin: top left;
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
  position: relative;
  align-items: flex-start;
  z-index: 1;
  flex-direction: column;
}

.hero-content h1{
  font-size: 68px;
  line-height: 108%;
  font-weight: 400;
}

.slogan {
  z-index: 1;
  font-size: 26px;
  margin: 0;
  text-align: start;
  font-weight: 400;
  line-height: 110%;
}

.buttons-container {
  position: absolute;
  bottom: 2rem;
  display: flex;
  gap: 40px;
  z-index: 2;
  flex-direction: column;
  width: 770px;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.button {
  height:51px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
}

.primary-button {
  width: 373.5px;
  background-color: #2264DC;
  color: #fff;
}

.primary-button:hover {
  background-color: #002042;
}

.secondary-button {
  width: 377px;
  background-color: transparent;
  border: 1px solid #ccc; 
  color: #ccc;
}

.secondary-button:hover {
  background-color: #ccc;
  color: #000;
}

.content-section {
  gap: 2rem;
  margin-top: 4rem;
}

/* Первый блок */
.first-block {
  margin-top: 4rem;
}

.two-column-container {
  display: flex;
  justify-content: space-between; /* Выравнивание по краям */
  align-items: flex-start; /* Вертикальное выравнивание сверху */
  margin-bottom: 5%;
}

.left-column {
  max-width: 50%; /* Ограничиваем ширину левой колонки */
  width: 50%;
}

.right-column {
  max-width: 50%; /* Ограничиваем ширину правой колонки */
  width: 50%; /* Указываем явно 50% */
  margin-left: 3rem;
}

.right-column p{
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
}

/* Второй блок */
.second-block {
  margin-top: 4rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Разбиваем на 3 равные колонки */
  gap: 2rem; /* Отступы между элементами */
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -1px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-text {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.feature h3 {
  font-size: 58px;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 115%;
}

.feature h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 40;
}

.breadcrumbs {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #0004ff;
  position: relative;
  z-index: 2;
  letter-spacing: -1;
}

.breadcrumbs-link {
  color: #72A4FF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #fff;
  text-decoration: underline;
}

.breadcrumbs-separator {
  margin: 0 5px;
  color: #aaa;
}

.breadcrumbs-current {
  color: #fff;
}

.gradient-text-b1 {
  font-size: 62px;
  line-height: 110%;
  background-image: linear-gradient(to right, #1461FE, #8940FB); /* Градиент от фиолетового до розового */
  -webkit-background-clip: text; /* Для Chrome, Safari и Edge */
  -webkit-text-fill-color: transparent; /* Для Chrome, Safari и Edge */
  background-clip: text; /* Для Firefox */
  color: transparent; /* Для браузеров, не поддерживающих background-clip */
  font-weight: 400;
  
}

.gradient-text-b2 h2{
  font-size: 62px;
  line-height: 110%;
  background-image: linear-gradient(to right, #2453C0, #BFD3FF); /* Градиент от фиолетового до розового */
  -webkit-background-clip: text; /* Для Chrome, Safari и Edge */
  -webkit-text-fill-color: transparent; /* Для Chrome, Safari и Edge */
  background-clip: text; /* Для Firefox */
  color: transparent; /* Для браузеров, не поддерживающих background-clip */
  font-weight: 400;
}

/* Третий блок */
.third-block {
  background-color: #000; /* Чёрный фон */
  color: #fff; /* Белый текст */
  padding: 4rem 0; /* Отступ сверху и снизу */
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 2rem; /* Отступы между элементами */
  grid-auto-rows: minmax(200px, auto); /* Минимальная высота строки */
  grid-template-rows: repeat(5, 1fr);
}

.content-item {
  background-color: #16171D; /* Чёрный фон для каждого блока */
  padding: 1rem; /* Отступ внутри блока */
  margin-bottom: 2rem; /* Вертикальные отступы между блоками */
}

/* Стили для изображений */
.content-item img {
  width: 100%; /* Занимает всю ширину контейнера */
  height: auto; /* Сохраняет пропорции изображения */
  display: block; /* Убирает лишний отступ под изображением */
}

.full-width {
  grid-column: span 2; /* Занимает 2 колонки (весь экран) */
  padding: 0;
}

.large-left {
  grid-row: auto / span 2; /* Занимает 2 строки */
  padding: 0;
}

.small-left {
  grid-row: span 1; /* Занимает 1 строку */
}

.right-text {
  grid-column: 2; /* В правой колонке */
  padding: 2rem;
  align-items: center;
}

.left-text{
  grid-column: 1; /* В правой колонке */
  padding: 2rem;
  align-items: center;

}

.large-right {
  grid-column: 2; /* В правой колонке */
  grid-row: auto / span 2; /* Занимает 2 строки */
  padding: 0;
}

.half-width {
  grid-column: span 1; /* Занимает 1 колонку */
}

/* Градиентные линии */
.content-item h3::before {
  content: '';
  display: block;
  width: 200px; /* Ширина линии */
  height: 3px; /* Высота линии */
  background-image: linear-gradient(to right, #007bff, #afafaf); /* Градиентный фон */
  margin-bottom: 1rem; /* Отступ под линией */
}

/* Двухколонный контент */
.two-column-content {
  display: flex;
  justify-content: space-between; /* Выравнивание по краям */
  align-items: center; /* Вертикальное выравнивание */
}

.two-line-content {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Разбиваем на 2 строки */
}

.text-section {
  height: 100%; /* Занимает 50% ширины */
  padding: 3rem;
  align-items: center;
}

.image-section {
  padding: 0; /* Нет отступов для изображения */
}

.image-section img {
  width: 100%; /* Изображение растягивается на всю ширину */
}

.left-side {
  width: 50%; /* Занимает 50% ширины */
  padding: 3rem;
}

.right-side {
  width: 50%; /* Занимает 50% ширины */
  padding: 0;
}

.right-side img {
  width: auto;
  height: 100%;
}

/* Градиентные линии */
.left-side h3::before {
  content: '';
  display: block;
  width: 200px; /* Ширина линии */
  height: 2px; /* Высота линии */
  background-image: linear-gradient(to right, #2453C0, #D2DFFF); /* Градиентный фон */
  margin-bottom: 1rem; /* Отступ под линией */
}



.text-section-content-block3 p{
  margin-top: 1%;
  color: #A7A5AF;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.text-section-header-block3 h3{
  margin-top: 1%;
  color: #A7A5AF;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
}

.gradient-icon {
  width: 50px;
  height: 50px;
  display: block;
}

.gradient-icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white; /* Белый фон */
}

.gradient-icon-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1461FE, #8940FB); /* Градиент */
  z-index: 1;
  mix-blend-mode: multiply; /* Накладывает градиент на изображение */
}

.gradient-icon-container img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.contact-us-block {
  background-color: #E8E9EECC; /* Чёрный фон */
  color: #0A0046; /* Белый текст */
  padding: 0 0; /* Отступ сверху и снизу */
}
