* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans',sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  color: #0A0046;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #4762FF;
}

button {
  cursor: pointer;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0;
}

.inner-container {
  max-width: 80.625%;
  margin: 0 auto;

}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.home-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1));
}