.breadcrumbs {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #0004ff;
  position: relative;
  z-index: 2;
  letter-spacing: -1;
}

.breadcrumbs-link {
  color: #72A4FF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #fff;
  text-decoration: underline;
}

.breadcrumbs-separator {
  margin: 0 5px;
  color: #aaa;
}

.breadcrumbs-current {
  color: #fff;
}
